<!DOCTYPE html>
<html>
<head>
  <title>Anna hero we need</title>
</head>
<body>

<div id="page-content ">

  <article id="page-media", class="page-section py-5">

    <section class="layout-hero d-flex align-items-center text-light text-center">
      <div class="picture-total">
      <div class="row justify-content-center">

        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <img src="images/drawings/p1.JPG">
        </div>
      </div>
        <div class="col-10 col-sm-6 col-md-4 col-lg-3">
          <img src="images/drawings/p2.JPG">
        </div>

        <div class="col-10 col-sm-6 col-md-4 col-lg-3">
          <img src="images/drawings/p3.JPG">
        </div>

      </div>



    </section>
  </article>


</div>

</body>
</html>
