<div class="container" id="home-container">
    <div class="jumbotron text-center">
      <h2 class="display-4">Alperen Koksel</h2>

      <hr class="my-4">
      <ul>
        <li>I'm a curious guy interested in learning new technologies</li>
        <li>I started this to share my self learning path </li>
        <li>I got a great passion for music, cinema, technology. Always looking to meet like minded people feel free to reach out </li>

      </ul>
      <br>
      <br>
      <div class="btn btn-light btn-lg" role="button">
        <%= link_to "Articles", articles_path %>
      </div>

      <!--  https://stackoverflow.com/questions/28261287/how-to-change-btn-color-in-bootstrap-->
    </div>
  </div>

</body>
</html>